body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
            text-align: center;
            font-size: 36px;
            ;
        }

        nav {
            background-color: green;
            padding: 5px;
            color: white;
        }
        ul {
            list-style-type: none;
            padding: 0;
            text-align: center;
            margin: 0;
        }
        li {
            display: inline;
            margin-right: 50px;
            font-size: 15px;
            font-weight: bold;
        }
        a {
            color: white;
            text-decoration: none;
        }

        .kawasaki {
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Kawasaki-logo.svg/2560px-Kawasaki-logo.svg.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100px;
            width: 250px;
            margin: 20px auto;
        }

        .background1 {
            background-color: white;
            height: 350px;
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            background-image: url(https://kawasaki-global-admin.com/ContentStorage/KMI/Products/4920/91af0e22-6cca-4d78-bf2f-60b705954411.png?w=767);
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center;

        }
        .highlight {
            background-color: grey;
            padding: 15px;
            border-left: 5px solid #0f5132;
            border-right: 5px solid black;
            margin-top: 20px;
        }
        h2 {
            color: #0f5132;
        }
        .specs {
            background-color: grey;
            padding: 15px;
            border-radius: 5px;
            margin-top: 20px;
        }
        .ninfi {
            background-color: #0f5132;
            color: white;
            text-align: center;
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
            margin-top: 15px;
        }



        .logo {
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Kawasaki-logo.svg/2560px-Kawasaki-logo.svg.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100px;
            width: 250px;
            margin: 20px auto;
        }
        .background2 {
            background-color: white;
            height: 350px;
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 15px;
            background-image: url(https://res.cloudinary.com/mufautoshow/image/upload/f_auto,f_auto/w_1200/v1679889506/moas/news/1679889499_kawasaki-ninja-zx-25rr-motor-sport-dengan-harga-terjangkau.png);
            background-size: 40%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .akhir {
            background-color: white;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAclBMVEX///8AAABra2uCgoL5+fnl5eUiIiLNzc329vZ9fX1LS0twcHBWVlZ0dHSMjIzr6+uampqUlJTU1NS4uLi/v7+oqKhCQkLv7+/Z2dmysrLIyMhcXFw8PDwxMTGfn59nZ2cmJiY0NDQaGhpOTk4QEBAUFBRggD6XAAAJ1klEQVR4nO2da4OqIBCGtbK0u2VbWdtl2/3/f/GEAsoACp5Sx3w/tS1e5glwgBl0nF69evUStJ7ff91E4/N81/TdtFN+NFwnH65uTkHyVbCeNHlrLdNkeeNkBnlYw+Srr+en6cVr8g7boslCqEYKWNP0j5/ww3ntQ9jm9LCeuh+bvNlmtTnJHVQhrKeW+ybvuDHFX65rD8t1B5/XGjcAlTks1519Vu3anyAAG1jPxtjkzdesUDbfDpbrRk3ef406jFXWW8Jy536TNtSlpdJ2a1ifULn23xrT7WG5syYNqUGxzvAqsNzxqklb3q21npUbJiUUsAa6I57q8BBbb3YQq4oM6ZfRQnec29lZHMkPpbrGWRklrKeiuebgoXydDmh0V1sbCv64DpbjrIbq4xf1mlGLRmrvag2K6WE9T6H2Ok612VCblKzkYUsRrCcuZe3qnAtxVxg5VwyIi2E9G6Oq4wvef/916qEwUemBl8FynKPiVOF7775eBbJ9j5GyZDksx1d4qdt33n292snWXTRFDWApZy0O77r3unWQbdvoyhrBUo2a1BUVnUaSYb/6qU4zWM5KOufXO269fkm+93dBYUNYjn+DZ+1EJy91WIV1wBSW40hzPR3otvZ27cUclkTr55W33Yygh1XUBh0rWKOfrjXELaxYJU8tC1hypcU+FwjtKVshtYEl+STTV911M4LuY+kigxUsaeiDeg3DB8aUz9TZwYJzr6j7eDAmLOnciSxhOb/iFRCH2cAe2CCkwxYW7Lb+/6abEpiqg7OiKtnCgtdAW7XAoHBscow1LKfCRdqoi2iH0RqfPaxthau0UGLn+zA6xh6WcxcuM/+fO25OE/EnNwvYqwALXAdnpJvoAxkuWFWA5ZyFC+nmYNst8Qc3nECpAkucN0XpmEaCCV/OqEzJUQpY5QeKa5IY57WExBIDpcvwClh3yxNhnKmxNLFKfJZaBoOqtmlSbtWbYCF8HiojkuuBhW/FVReMVQMsfEFItha+EBY650GxCl0bLBdbiLwq1qU2WHHRnbVQiriZ+mBhG/HYW/hCWNh6eGsDXwkLWZCIHDlTJyxkM/Fes7BwBWuNPAPtFZs4lOZIr0zO3KTp79LMHpbJClE31cOyUA/LQj0sC/WwLNTDslAPy0I9LAv1sCzUw7LQwh4WtqkqEx3ccbluv/aw/m4GJ0Y2ryyFqJfrc6domp38w7Ymrd1ypg5Y1yYtr6CiPVHeDgtbaMil3KT3wcK2fl+wndH7YWGbKYWJKLXCatLwSlLvplILLLO46DbJekn6dbDwDYmicqPeBUu7D0JrZd1pvQ5Wk2ZXlG00mzYA96w7QiNsLimRuEXBdTMpURqRrYBVfqQ4XMDmZRGBsbThUVWSBrxKV2qXxHZouJNhFVjCHCLKVigF/5kdVAEW2JcGW9gflWiEWdWqAAuM2f/njhtUUMEKe1igx8I248AEzDDaxN0eFnBRcM0o5wQ2gzKZDLCGBbJ+8e4suRENORscYgsLxmNim53JCYxUDNaxbGGB9zvg9BtSgapl8LtbwoK5CYgrlvTD/5YeYAcLxvliC4AXBTcyLN1IwA4WODveR2EquHd0mf9gBQtObOCb9QOCP37JZjE2sOByG7rUOUnSMk/xhmAWsKSJa4xp90AzaFPhbjHmsCRWnXjnADSqsG4Zw5JY4W+ERHJSa8EEhCksedcI1C5WJnkpX0/BEJY8wd+Z16TI75zTroMawVLknOEdQEuSdo3WPrpMYCm2lzcZo2ORahFRPUtXDstXvYEHV4JhiVTJmjdV5SqFpUzrx75PMBCcf0i0kMdyJbAOyhXXDnijopS05LZYCGul3mYKX2xDqdS03LXY3RTA8jShlx1kpd9xZZFvRVpYkS4+pCPOKJQ2Jf924T20GtZG81I1t3N9eyZfH/B9W2oDQwrebuieO+UzABVEfGtDjgpilzrkt6uk8L6pKgSzod112lQefE1HZVjjjnbtgjShubawOjHXV66NMuzbDpZyrNRNqZJVrGB1MUdTK192ByxgBV12GFSSxnnGsAad9UMLtBJrlyGs4BNREfmhLaz1pzVAQfHVHNYM6/spXqjt1QTWDPWrrV6pTTgtSkeZXz7HqzJT2nELq2aL3D96yfK9TbxNFG+8j+7Ne/Xq1atXr169evXq1Xb1QxaVWOZf+hdfTK1pZuUrf3EqOlXWxp9LgMVZ1ZULP1fAmuGAxVnVtnsHXlj1s1LCGmCAxVnVGLihgnVcErVymZ/D4qxySQ+b3XIxC0LD3j4pvRBKH6LdbjvJB+xOLuSUa9opqmC1WAzWUWaVy9AMHGc9Wzw1SGJgBslH8mmffoxgaSKPLwGdKcD8inYSxJvBCpPTL04r55J8ura5GTLxcASw3dHomNlIw0zJEhetjx4oTeqSEPqe5NeL4al3JweLhVFEKPosyMoBAVlTmlNH9vSli6wkFzh1lMbOHywN3+66lBM2ggwW2z2PPFoQPA1dcIt0S4+/kMVlsSiHPd9y8o9Xv5Aa+8tLe3Td8Ce83CkQxvgessbIYbEY36QLwAOLvwkuNYjUI2rJNmYG8fBlj7XCQ8ro5vCmdnRYEcZ2Q2shyeSnbDcMFt00Pc0sxwOLt8M5/6m37B8uNZaHae34cOXES0di6dNk5KziOI6iFf2GPAfX7KOQ/URT/BHBEqP5V/GaRR1fmBVZHPKJHhzIpde5tOH5Op9N4UUhCxXfCrDYHiuYYN34vyZCUvmSZeTnIpd3WWUBpUNWe1jJ9JSREN4lwmJv3cYAiwfYUt/ZA6kCS/3W+orSQ5gIS2LfYR4QgEX7SwSwrplflDQa3ouPL1MGKxewPM5lmlxzpX9oaUI8uudRTDJn4n5UwqLVDwEsJ5cTQb6n4VXBgWX/LgXXKch9fjpHj6z0N4f19Kyi5ZXFOAesYi49VkchrLQh4oDFt+sZ8K9Jb0R9KfKsysyKcp99VenNafAUOYjmGzxo7SPRNZT0kcF6UN8hSVjHASvrkyPuXDnccSR1JWt7fralyJS3wmNWernJTE4fA1NKiMRs0Uz1neTBkzMggZWl24/Y0GS2ZAMZEnXFB3fn3P7eu2wgM1uyQdKM1rzbxIvThjhgBw858nU2NmRPAx8PLA7jIb8nZUoKsPcTkeE0+wdpV1IO9NSBuYax/DANMlgM9xwPrOx5d8ylZJ6zEixOmTwwaWW4ke8PitIiwECYhvimh2ZTNGx7yQgPrOzXX7HH3bdHO37yYD/kSlPz0kGKqnR+x7LEK2C05j71bw+P7HTswThq8eqO46cCf5IvojAI1qQ/HmVF0k+jXFF2YCyX9o+Lr7F7ewz55Ol2GQQXL7tM7sz8q5F43l69enVA/wBP2XTx9LyzIQAAAABJRU5ErkJggg==);
            height: 500px;
            width: 100%;
            margin-top: 30px;
            display: flex;
            text-align: center;
            justify-content: center;
            background-size: 46%;
            background-repeat: no-repeat;
            background-position: center;
        }




        .footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
        }
        .footer1 {
            display: flex;
            justify-content: space-around;
            background-color: #222;
            color: white;
            padding: 20px;
        }
        .footer1-section {
            flex: 1;
            margin: 0 10px;
        }
        .footer2-section {
            flex: 1;
            margin: 0 10px;
        }
        .footer3-section {
            flex: 1;
            margin: 0 10px;
        }
